.row > div{
    text-align: center;
    margin: 3%;

    padding: 3%;
}
.jumbotron{
    background: url('img/hero.jpg');
}


img{
    width: 500px;
    height: 350px;
}
.footer{

}
#kfc{
    width: 75px;
    height: 50px;
}
.captcha{
    margin-left: 33%;
    margin-bottom: 2.5%;
    width: 200px;
    height: 100px;
}