header{
    background-color: #AD49C4;
    color: white;
    font-size: 100px;
    text-align: center;
}

body{
    font-family: arial;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
}

img{
    width: 250px;
    height: 250px;
}

#contenedor{
    display: grid;
    grid-template-columns: repeat(3,auto);
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

div > div{
    border: 5px solid #AD49C4;
    margin: 5%;
}

p{
    text-align: center;
}

footer{
    background-color: #AD49C4;
    color: white;
    font-size: 20px;
    padding: 3%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.hero{
    background: url('hola.jpg') center;
    padding: 4rem 2rem;
    background-size: cover;
    /* grid styles */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    align-items: center;
}
span{
    text-align: right;
    color: wheat;
    font-size: 50px;
}